.bold {
  font-weight: 700;
}
.nameContainer {
  text-align: center;
  padding: 200px;
}
.chatbox {
  border: none;
  margin: 5px 0;
  padding: 10px;
  background-color: #c7c7c769;
  border-radius: 15px;
  padding: 12px 15px;
}
input {
  padding: 14px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #b470cf;
}

input:focus-visible,
input:visited,
input:focus {
  border: 2px solid #b470cf !important;
  outline-color: #b470cf;
}

button {
  padding: 13px;
  border: 2px solid #b470cf;
  border-left: none;
  background-color: #b470cf;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container {
  display: flex;
}
.container.me {
  flex-direction: row-reverse;
}
.me .chatbox {
  background-color: #b470cf;
  border-radius: 15px;
  color: white;
  border: none;
  padding: 12px 15px;
}

.btm {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: flex;
  flex-direction: row;
}

.btm input {
  flex-grow: 1;
}

.chat-container {
  height: 50vh;
  overflow-y: scroll;
  padding: 20px;
}

.headingDiv {
  background-color: #b470cf;
  padding: 15px;
}
h1 {
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}
